[Unit]
Description=prometheus SNMP exporter
After=network.target

[Service]
Type=simple
User=snmp_exporter
Group=snmp_exporter
ExecStart=/usr/bin/snmp_exporter --config.file /etc/snmp_exporter/snmp.yml

[Install]
WantedBy=multi-user.target
