[Unit]
Description=Redis Exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=redis_exporter
Group=redis_exporter
ExecStart=/usr/bin/redis_exporter

[Install]
WantedBy=multi-user.target
